#sendVideo{
    position: absolute;
    width: 96vw;
    height: 54vw;
    border: 1px solid red;
} 

#remoteVideo {
    position: absolute;
    width: 96vw;
    height: 54vw;
}

#localVideo {
    position: absolute; 
    width: 16vw;
    height: 9vw;
    z-index: 9999;
    border: 1px solid green;
}

#snapCanvas {
    width: 32vw;
    height: 18vw;
    border: 1px solid green;
}

#remoteCanvas {
    width: 32vw;
    height: 18vw;
    border: 1px solid red;
}

#drawingCanvas{
    border: 1px solid yellowgreen;
}

#color-selector {
    display: block;
    margin: 10px 0;
    height: 25px;
    line-height: 25px;
    background-color: slategray;
}

#color-selector>span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    cursor: pointer;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.cyan {
    background-color: cyan;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.magenta {
    background-color: magenta;
}
.white {
    background-color: white;
}

#sendReceive{
    position: relative;
    display: inline-grid;
    grid-template-columns: auto auto;
    padding: 1vw;
    width: 90vw;
}

.grid-item {
    padding: 1vw;
    text-align: center;
}

.drawPanel {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
    border: 1px solid green;
}

:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}

.toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
}

.toolbar #twitter-logo:hover {
    opacity: 0.8;
}

svg.material-icons {
    height: 24px;
    width: auto;
}

svg.material-icons:not(:last-child) {
    margin-right: 8px;
}

a, a:visited, a:hover {
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    color: #125699;
}

